<main>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-3 leftSide" data-aos="zoom-out-right" data-aos-duration="2000">
                <div class="img">
                    <img src="/assets/Images/etudiants.png" alt="etudiants" srcset="">
                </div>
            </div>
            <div class="col-8 rightSide" data-aos="zoom-out-left" data-aos-duration="2000">
                <div class="justify-content-center align-items-center">
                    <table cellspacing="0" cellpadding="6" border="0" class="table">
                        <tbody><tr>
                            <td align="left" width="140">Nom Prénom</td>
                            <td align="left"><span>ESSAYES MOHAMED WAJIH</span></td>
                        </tr>  
                        <tr>
                            <td align="left" width="140">CIN (code)</td>
                            <td align="left"><span>14039270</span></td>
                        </tr>
                        <tr>
                            <td align="left" width="140">Faculté</td>
                            <td align="left"><span>ISET Tozeur</span></td>
                        </tr>     
                        <tr>
                            <td align="left" width="140">Filière</td>
                            <td align="left"><span>Licence En Technologies de l'Informatique: DSI</span></td>
                        </tr>    
                        <tr>
                            <td align="left">Niveau</td>
                            <td align="left"><span>2</span></td>
                        </tr>
                    </tbody></table>
                </div>
                
            </div>
        </div>
    </div>
</main>