<main class="container">
  <div class="row justify-content-center align-items-center cards ">
      <div class="col-3 card">
          <div class="row d">
              <div class="div1 colorRed">
                  
              </div>
              <div class="col details">
                  <div class="row justify-content-center align-items-center Mname">
                      Programmation DSI21
                  </div>
              </div>
          </div>
      </div>
      <div class="col-3 card">
          <div class="row d">
              <div class="div1 colorGreen">
                  
              </div>
              <div class="col details">
                  <div class="row justify-content-center align-items-center Mname">
                      Developpement DSI21
                  </div>
              </div>
          </div>
      </div>
      <div class="col-3 card">
            Programmation DSI22
      </div>
      <div class="col-3 card">
        Developpement DSI22
      </div>
  </div>
</main>
