main{
  margin-top: 10vh;
  min-height: 90vh;
}
.col-3{
  padding: 0 !important;
}
.card{
  background-color: white;
  min-width: 300px;
  height: 300px;
  margin: 20px;
  box-shadow: 0px 0px 7px rgba(128, 128, 128, 0.168);
  border-radius: 10px;
  cursor: pointer;
  transition: 400ms;
  padding: 0;
}
.cards .card:hover{
  transform: scale(1.1, 1.1);
  box-shadow: 0px 0px 7px rgba(128, 128, 128, 0.539);
}
.cards:hover > .card:not(:hover) {
  filter: blur(10px) !important;
  transform: scale(0.9, 0.9);
}
.div1 {
  width: 1%;
  margin: 0;
  padding: 0 !important;
  height: 94%;
  border-top-right-radius: 200%;
  border-bottom-right-radius: 200%;
  margin-top: 3%;
}
.colorRed{
  background-color: rgba(255, 13, 0, 0.693);
}
.colorGreen{
  background-color: rgba(47, 255, 0, 0.693);
}
.details{
  //background-color: gray;
  margin: 0;
  padding: 0;
  border-radius: 10px;
  width: 99%;
  margin: 0;
  padding: 0;
}
.d{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.Mname{
  //background-color: antiquewhite;
  height: auto;
  font-size: 1.1rem;
  //font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
  width: 100%;
  margin: 0;
  color: #333;
  padding: 0;margin-top:0;
  text-decoration: underline;
  padding: 10px;
}