
<div style="margin-top: 50px; margin-left: 50px;">
  <table class="table">
    <thead class="table-light">
      <tr> 
        <th>#id</th>
        <th>#name</th>
        <th>#class</th>
        <th>#isPresent</th>
      </tr> 
    </thead>
    <tbody>
      <ng-container *ngFor="let student of students">
        <tr>
          <td>{{ student.id }}</td>
          <td>{{ student.name }}</td>
          <td>{{ student.classe }}</td>
          <td>
            <!-- @youcef : if student is present will be buttom in blue else in gray -->
            <button
              *ngIf="!student.isAbsent"
              type="button"
              (click)="toggleAbsence(student)"
              class="btn btn-primary btn-sm"
            >isPresent</button>

            <button
              *ngIf="student.isAbsent"
              type="button"
              (click)="toggleAbsence(student)"
              class="btn btn-secondary btn-sm"
            >isAbsent</button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>