footer{
    box-shadow: 0px 0px 7px gray;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin: 0;
    padding: 0;
    background-color: azure;
    background-color: white;
}
p{
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    height: fit-content;
    margin: 0;
    padding: 0;
}