<main class="con1">
    <div class="row slide1" data-aos="fade-up" data-aos-duration="1000" >

        <div class="col-md-12 p1">
            <p>
                <span>
                Faci.tn
                </span>
                Plateforme tunisienne de gestion d'absence d'étudiants.
            </p>
        </div>
    </div>
    

</main>
<main class="con2 row align-items-center"data-aos="fade-up" >
    <div class="row col-12 c">
            <div class="col-4 cart">
                <div class="col" data-aos="zoom-out-up" data-aos-duration="2000">
                    <div class="row align-items-center justify-content-center header">Etudiants</div>
                    <div class="row imgCard align-items-center justify-content-center">
                        <img src="/assets/Images/etudiants.png" alt="etudiants" srcset="">
                    </div>
                    <div class="value row align-items-center justify-content-center">
                        {{etudants}}
                    </div>
                </div>
            </div>
            <div class="col-4 cart" data-aos="zoom-out-up" data-aos-duration="2000">
                <div class="col">
                    <div class="row align-items-center justify-content-center header">enseignants</div>
                    <div class="row imgCard align-items-center justify-content-center">
                        <img src="/assets/Images/enseignant.png" alt="enseignant" srcset="">
                    </div>
                    <div class="value row align-items-center justify-content-center">
                        {{enseignants}}
                    </div>
                </div>
            </div>
            <div class="col-4 cart" data-aos="zoom-out-up" data-aos-duration="2000">
                <div class="col">
                    <div class="row align-items-center justify-content-center header">facultés</div>
                    <div class="row imgCard align-items-center justify-content-center">
                        <img src="/assets/Images/faculté.png" alt="faculté" srcset="">
                    </div>
                    <div class="value row align-items-center justify-content-center">
                        {{facultes}}
                    </div>
                </div>
            </div>
    </div>
</main>
