/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  
  /* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
::-webkit-scrollbar  { 
    display: none;  /* Safari and Chrome */ 
}